header{
    position: relative;
}

.barra{
    width: 100%;
}

.sticky .barra{
    width: 100%;
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 100;
}

.barra_main {
    background-color: var(--void);
    min-height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra_main ul {
    display: flex;
}

.barra_main ul li {
    border-right:  1px solid rgba(92, 89, 89, 0.41);
    margin-left: auto;
    margin-right: auto;
}

.barra_main ul li:last-child {
    border-right: none;
}

.barra_main ul li .navbutton {
    padding: .25em;
    margin-top: 0.7vh;
    color: var(--white);
    text-transform: uppercase;
    border: 2px solid var(--void);
}

.barra_main ul li .navbutton:hover,
.barra_main ul li .navbutton:focus{
    border-bottom: 2px solid var(--fushia);
    transition: all .3s;
}

.barra_main ul li .navbuttonE {
    background-color: transparent;
    border: 2px solid var(--void);
    color: var(--white);
    text-transform: uppercase;
}

.barra_main ul li .navbuttonE:hover,
.barra_main ul li .navbuttonE:focus{
    border-bottom: 2px solid var(--fushia);
    transition: all .3s;
}

.abajo{
    display: inline-block;
    position: fixed;
    z-index: 100;
    transition: 0.8s;
    width: 100%;
}

.drawer {
    font-size: 1rem;
    color: var(--white);
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    padding: .2rem;
    border-radius: .1rem;
}

#ckbox {
    display: none;
}

.navbuttonE{
    cursor: pointer;
}

.navbutton{
    cursor: pointer;
    color: white;
    border: none;
    background-color: transparent;
    outline: none;
}

.iconnav{
    display: none;
}

.tooltip{
    font-size: 1rem;
    margin-left: -1em;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0,.20);
    width: 18.75em;
    height: 160px;
    z-index: 1000;
    opacity: 0;
    transition: .3s ease all;
    transform: translateY(10px);
}

.tooltip::after{
    content: "";
    display: inline-block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    left: 18px;
    top: -15px;
}

.tooltip.activo{
    opacity: 1;
    transform: translateY(0px);
}

.tooltip .info{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tooltip .info .titulo{
    color: var(--void);
    font-weight: 600;
    margin-bottom: 10px;
}

.tooltip .info .producto{
    color: var(--void);
    margin-bottom: 20px;
}

.tooltip .info .contenedor-btn{
    display: flex;
    justify-content: center;
}

.tooltip .info button{
    border: none;
    background-color: var(--void);
    font-weight: bold;
    padding: 8px 15px;
    width: 80%;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.tooltip .info button:hover{
    background: var(--void);
}
