.sticky .barra{
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10;
}

/* MODAL */
.modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    inset: 0;
    z-index: 2;
    opacity:0;
    pointer-events:none;
    transition: all .2s;

    display: grid;
    place-items: center;
}
#miModal:target{
  opacity:1;
  pointer-events:auto;
}

.modal-contenido{
    font-size: 5rem;
    border-bottom: 3px solid var(--fushia);
}

.modal-contenido a{
    font-size: 5rem;
    text-decoration: none;
    color: white;
}

.modal-contenido input[type="text"]{
    font-size: 5rem;
    background-color: transparent;
    color: white;
    border: none;
}

.modal-contenido button{
    background-color: transparent;
    color: white;
    border: none;
}

.modal-contenido button:hover{
    transition: background-color 200ms ease;
    background-color: var(--fushia);
}

.modal-contenido button span{
    font-size: 5rem;
}

/* MODAL END*/

.barra_main {
    background-color: var(--void);
    min-height: var(--barra_altura);
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra_main ul {
    display: flex;
    align-items: center;
}

.barra_main ul li {
    margin-left: auto;
    margin-right: auto;
}

.barra_main ul li:last-child {
    border-right: none;
}

/* botones */
.navbutton {
    padding: .25em;
    margin-top: 0.7vh;
    color: var(--white);
    text-transform: uppercase;
    border: 2px solid var(--void);
    letter-spacing: 1px;
}

.navbutton:hover,
.navbutton:focus{
    border-bottom: 2px solid var(--fushia);
    transition: all .3s;
}

.navbuttonE {
    background-color: transparent;
    border: 2px solid var(--void);
    color: var(--white);
    text-transform: uppercase;
}

.navbuttonE:hover,
.navbuttonE:focus{
    border-bottom: 2px solid var(--fushia);
    transition: all .3s;
}

.abajo{
    display: inline-block;
    position: fixed;
    z-index: 100;
    transition: 0.8s;
    width: 100%;
}

.drawer {
    font-size: 1rem;
    color: var(--white);
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    padding: .2rem;
    border-radius: .1rem;
}

#ckbox {
    display: none;
}

.navbuttonE{
    cursor: pointer;
}

.navbutton{
    cursor: pointer;
    color: white;
    border: none;
    background-color: transparent;
    outline: none;
}

.iconnav{
    display: none;
}

.tooltip{
    font-size: 1rem;
    margin-left: -1em;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 5px 5px 50px rgba(0, 0, 0,.20);
    height: 160px;
    z-index: 1000;
    opacity: 0;
    transition: .3s ease all;
    transform: translateY(10px);

    height: auto;
    width: 25%;
}

.tooltip::after{
    content: "";
    display: inline-block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    left: 18px;
    top: -15px;
}

.tooltip.activo{
    opacity: 1;
    transform: translateY(0px);
}

.tooltip .info{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tooltip .info .titulo{
    color: var(--void);
    font-weight: 600;
    margin-bottom: 10px;
}

.tooltip .info .producto{
    color: var(--void);
    margin-bottom: 20px;
}

.tooltip .info .contenedor-btn{
    display: flex;
    justify-content: center;
}

.tooltip .info button{
    font-size: 1.5rem;

    border: 2px solid var(--fushia);
    font-weight: bold;
    padding: .25em .125em;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
}

.tooltip .info button:hover{
    background-color: var(--fushia);
    color: white;

    transition: all 150ms ease;
}


tbody tr td.td_total,
tbody tr td.td_vaciar{
    font-size: 1.125rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 1em 0;
    text-transform: uppercase;
    color: var(--void);
}

tbody tr td a{
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    padding: 0 1em;
    font-size: 1.5rem;
    padding: .25em .125em;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--fushia);
}

tbody tr td a:hover{
    text-decoration: underline currentColor;
}