/*======= MAIN SECTION =======*/
#main_screen {
    width: 100%;
    height: 93vh;
}

.main_container{
	width: 100%;
	display: flex;
    height: 100vh;
}

.container-frase{
    font-size: 5rem;
    width: 40%;

	padding: 0.125em;
    margin: 0 2em;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;

    display: grid;
    place-items: center;
}

.container-frase h1 span{
    background-color: var(--fushia);
}

.container-img{
	width: 100%;
    position: relative;

    overflow: hidden;
}

.container-img img {
    height: 90%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1; /* imagen auto*/
}

/*======= SOBRE NOSOTROS =======*/
.sobre_nosotros{
    background-color: var(--void);
    color: var(--white);
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: var(--barra_altura);
    padding-bottom: var(--barra_altura);
}

.sobre_nosotros.compensar{
    padding-top: calc(var(--barra_altura) + var(--barra_altura));
}

.sobre_nosotros .sobre_n_text{
    position: relative;
}

.sobre_nosotros .sobre_n_text p{
    width: 75%;
    position: absolute;
    right: 0;
}

.sobre_nosotros h1{
    font-size: var(--fz_subtitulos);
    font-weight: bold;
    border-bottom: 3px solid var(--fushia);
}
.sobre_nosotros p{
    padding: .5em 0;
    line-height: 1.6em;
}

.sobre_nosotros .mapa{
    text-align: left;
    padding: 0 0 2em 2em;
}


/*======= SECTION =======*/
.section{
    background: var(--void);
}

.section .section_title{
    height: 125px;
    font-size: var(--fz_titulos);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.25em;

    /* color: var(--gris_text); */
    color: var(--white_sub);
    text-align: center;
    padding: 1em 0 0 0;

    border-bottom: 3px solid var(--fushia);
}


/*======= VIDEO =======*/
.section_video {
    position: relative;
}

.segunda_container video{
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

/*======= PRODUCTOS =======*/
#section_productos{
    margin-top: 50vh;
    display: grid;
    min-height: 100vh;
    position: relative;
    z-index: 2;
}

.section_productos h2,
.section_servicios h2,
.section_comentarios h2{ /*section texto*/
    font-size: 1.25rem;
    color: var(--white);
    text-align: center;
    margin: 2em 20%;
    line-height: 1.6em;
}

.lista_marcas {
    height: 35px;
    margin-bottom: 2em;
}

.lista_marcas_container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 0 15%;
    text-align: center;
}

.lista_marcas_container img{
    width: 35px;
}
/* items centrales */
.categorias_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container_unidad{
    margin: 1em;
}

/*======= SERVICIOS =======*/
.box-all {
    position: relative;
    width: 400px;
    height: 400px;
    background: var(--void);
}
  
.box-all .imgBx {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.box-all .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.1s;
}
  
.box-all:hover .imgBx img {
    opacity: .5;
}
  
.box-all .box-contenido {
    justify-self: center;
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 60px;
    background: #000000bf;
    transition: 0.3s;
    overflow: hidden;
    color: var(--white);
    padding: 2em;
    box-sizing: border-box;
}
  
.box-all:hover .box-contenido {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}
  
.box-all .box-contenido h3 {
    margin: 0;
    padding: 0;
    font-size: 1.35rem;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
    letter-spacing: .15em;
}
  
.box-all .box-contenido p {
    font-size: 1.25rem;
    margin: 10px 0 0;
    padding: 0;
    opacity: 0;
    line-height: 1.5em;
}
  
.box-all:hover .box-contenido p {
    opacity: 1;
    transition-delay: 0.2s;
}

/*======= COMENTARIOS =======*/
.section_comentarios .section_title{
    height: auto;
}

.comentarios{
    max-width: 80%;
    margin: 0 auto;
    padding: 1.5em;
    color: var(--white);
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

/*========= Cotizar========*/
.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

.contenedor article {
	line-height: 28px;
}

.contenedor article h1 {
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
}

.contenedor article p {
	margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: var(--white);
	background: var(--fushia);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
	background: var(--fushia);
}

.contenedor-inputs{
	height: 400px;
	width: 800px;
	margin-top: 100px;
}

.contenedor-inputs textarea{
	height: 100px;
	width: 800px;
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 850px;	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: var(--white);
	background: var(--fushia);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: var(--fushia);  
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}