#main_screen {
    width: 100%;
    height: 93vh;
}

.main_container{
	width: 100%;
	display: flex;
    height: 100vh;
}

.container-frase{
    font-size: 5rem;
    width: 40%;

	padding: 0.125em;
    margin: 0 2em;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;

    display: grid;
    place-items: center;
}

.container-frase h1 span{
    background-color: var(--fushia);
}

.container-img{
	width: 100%;
    position: relative;

    overflow: hidden;
}

.container-img img {
    height: 90%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}
/*======= SECTION =======*/
.section{
    background: var(--white);
}

.section .section_title{
    font-size: var(--fz_titulos);
    font-weight: bold;
    text-transform: uppercase;

    color: var(--gris_text);
    text-align: center;
    margin-top: 100px;

}


/*======= PRODUCTOS =======*/
#section_productos{
    display: grid;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.container-prod{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container-prod .prod{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow:  1px 2px 2px var(--void);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container-prod .prod:hover{
    transform: translateY(-15px);
    box-shadow:  5px 12px 16px var(--void);
}

.container-prod .prod img{
    width: 330px;
    height: 220px;
    margin: 2px 2px 2px 2px ;
    border-color: var(--void);
}


/*======= SERVICIOS =======*/
#part3{
    display: grid;
    height: 100vh;
}


/*======= OPINIONES =======*/
.section_opiniones{
    display: grid;
    height: 100vh;
}

.usuario{
    width: 60%;
	display: flex;
    background-color: var(--void_claro);
    margin-left: 20%;
    margin-right: 20%;
}

.usuario img{
    width: 200px;
}

.usuario h2{
    margin-left: 40px;
}


/*======= FOOTER =======*/
.container-footer{
    max-width:  1170px;
    margin: auto;
}

.row{
    display:flex ;
    flex-wrap: wrap;
}

.texto-footer{
    list-style: none;
}

.footer{
    background-color:var(--void);
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f23557;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #f23557;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: white;
    padding-left: 8px ;
}
