:root{
    font-family: 'Georama', sans-serif;
    --void: #000000;
    --void_claro: #393e46;
    --yellow: #f0d43a;
    --fushia: #fc3a52;
    --white: #fff;
    --white_sub: #f2f2f2;
    --gris_text: #7d7d84;
    --blue: #22b2da;
    --boton: #ec4a04;
    --shadow: 0px 10px 13px -7px #000000, 4px 8px 18px 11px rgba(0,0,0,0.1);

    --fz_titulos: 10rem;
}



/* SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--void);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--fushia);
    border-radius: 2px;
}


body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;

    /*background-color: var(--void);*/
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*transform-style: preserve-3d;*/
}
